body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-icons {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3em !important;
    margin: 0.1em;
    margin-top: 0.6em;
}

.material-icons:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

#reponse{
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.1);
    border: 0.1em solid rgba(255, 255, 255, 0.4);
    color: #fff;
    font-size: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background 0.5s, border 0.5s;
}

button{
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.1);
    border: 0.1em solid rgba(255, 255, 255, 0.4);
    color: #fff;
    font-size: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background 0.5s, border 0.5s;
    margin-top: 3em;
}

button:hover{
    background: rgba(255, 255, 255, 0.4);
    border: 0.1em solid rgba(255, 255, 255, 0.1);
}

.input-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score{
    font-size: 1em;
    margin-top: 1em;
    font-weight: bold;
}

#pause{
    display: none;
    margin-top: 0.5em;
}

#timer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temps {
    position: absolute;
    font-size: 2em;
    margin-top: 1em;
    font-weight: bold;
    margin-left: 10em;
}


#titre {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    font-weight: bold;
}

#accueil{
    display: none;
}

@media (min-width: 576px) and (max-width: 1199px){

    #accueil{
        display: block;
        width: 100vw;
        background-color: black;
        margin-bottom: 3vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    header{
        display: none;
    }

    h1{
        font-size: 5em;
        text-align: center;
    }

    body{
        margin-top: 20vh;
    }

    #avantLancement{
        display: block;
        font-size: 250%;
        text-align: center;
    }

    #avantLancement > *{
        margin-bottom: -5vh;
    }

    #valider, #reponse, #pause, #score{
        font-size: 350%;
    }

    #airpods{
        transform: rotate(5deg);
        scale: 0.5;
    }

}