body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: -5%;
    font-size: 0.9em;
    color: black;
}

.musique:hover {
    cursor: pointer;
    transform: scale(1.01);
}

img {
    width: 350px;
    height: 197px;
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    left: 0;
}

article {
    --hover: 0;
    margin: 40px;
    flex-basis: calc(25% - 80px); /* Adjust the width of each card */
}

article:hover {
    --hover: 1;
}

article:hover {
    cursor: pointer;
}

#selectGame {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    align-items: center;
    justify-content: center;
    color: black;
}